*.pyc
demo/benchmark_support_file/*
demo/2016_Tsinghua_SSVEP_database/*
demo/BETA Dataset/*
demo/2020_BETA_SSVEP_database_update/*
demo/res/*.mat
demo/res/*.npy
Docs/_build/*
.vscode/*
demo/Nakanishi_2015/*
demo/test_*
demo/eldBETA_database/*
demo/openBMI/*
demo/Wearable/*
.DS_Store
